body {
  font-size: 16px;
  color: #262626;
  background-color: #FFFFFF;
}

#header-nav {
  background-color: #999999;
}

.container .color-nav {
  widows: 100%;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #FBFBFB;
  border: solid 1px #262626;
}
.navbar-header button.navbar-toggle, .navbar-header button .icon-bar {
  border: 1px solid #000000;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list hr {
  margin: 0px;
  border-color: #262626;
}

.brand-name {
  font-weight: bold;
  color: #262626;
 }

.brand-name:hover {
    text-decoration: none;
    color: #EAEAEA;
  }

div .content {
  background-color: #999999;
  color: #262626;
  margin: auto;
}

div h2 {
  padding-top: 10px;
}

div p {
  margin: 5px 15px 5px;
  padding: 5px 15px 5px;
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  div .content {
    width: 80%;
  }

}